$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif;
$primary-font: $font-family-sans-serif;
$gray-lighter: #d3d3d3;

$primary: #F55430;
$color-1: #3e585f; // green dark
$color-2: #f82f53; // crimson
$color-3: #47374e; // purple
$color-4: #ffffff; // white
